.mainScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.gameContainer {
  height: fit-content;
  display: flex;
  gap: 20px;
}
@media (max-width: 1100px) {
  .chatBox {
    display: none;
  }
}
@media (max-width: 800px) {
  .readyBox {
    display: none;
  }
}
