.board {
  display: inline-block;
  border: 4px solid black;
}

.row {
  display: flex;
}

.cell {
  width: var(--default-cell-size);
  height: var(--default-cell-size);
  border: 1px solid #555;
}

/* Colors */
.purple {
  background-color: var(--purple);
}

.blue {
  background-color: var(--blue);
}
