.readyBox {
  width: 150px;
  height: fit-content;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.playerId {
  margin-top: 20px;
}
.purple {
  color: var(--purple);
}
.blue {
  color: var(--blue);
}
