.inputContainer {
  width: 100%;
  height: fit-content;
  padding: 5px 20px;
  background-color: var(--gray-200);
  border-radius: 15px;
}
.input {
  width: 100%;
  height: 40px;
  background-color: var(--gray-50);
  border: 0;
  border-radius: 15px;
  padding: 0 15px;
}
.input:focus {
  border: 0;
}
.input:highlight {
  border: 0;
}
